@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center img-fluid: ">
    <h1 class="text-center text-info">Welcome To St.Louis Sites</h1>
    <p>Learn more about the <a href="https://en.wikipedia.org/wiki/History_of_St._Louis">history of St.Louis</a>.</p>
</div>
<section class="HeroImage">
    <img src="Images/photo-1501185414752-195412ae7696.jpg" class="align-self-center visible " width="1080" height="580" />
    <p class="text-center text-info">City Of St.Louis</p>
</section>

