@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-center text-info">@ViewData["Title"]</h1>

<p>This web application and all the material used to develop this application is solely the private property of LaunchCode_CoderGirl_Winter2019_Cohort.</p>
